dependency-reduced-pom.xml
.DS_Store
.classpath
*/.classpath
.project
*/.project
.settings/
target/
*/target/
test-output/
*/test-output/
.directory
*.swp
*.orig
*.log
*/bin/
.metadata/
.idea/
*.iml
/*.iml
node_modules/
dist/
